<a href="https://colab.research.google.com/github/Kimseobin11106/Coding-Project/blob/master/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬은 띄어쓰기 조심!
print문장 화면에 출력해주는 명령어다

In [ ]:
import random
가위, 바위, 보 = 1, 2, 3
a = random.randint(1, 3)
for k in range(True):
    print('가위바위보')
    b = int(input())
    if a == 1 and b == 1:
        print('비겼습니다!')
    elif a == 1 and b == 2:
        print('이겼습니다!')
        break
    elif a == 1 and b == 3:
        print('졌습니다!')
    elif a == 2 and b ==1:
        print('이겼습니다!')
        break
    elif a == 2 and b ==2:
        print('비겼습니다!')
    elif a == 2 and b ==3:
        print('졌습니다!')
    elif a == 3 and b ==1:
        print('졌습니다!')
    elif a == 3 and b ==2:
        print('이겼습니다!')
        break
    elif a == 3 and b ==3:
        print('비겼습니다!')

가위바위보
1
졌습니다!

In [ ]:
easy = '와 너무 쉽다'
print(easy)

와 너무 쉽다

파이썬에서 변수만들기는 쉬움. 그냥 약속되지 않은 이름을 사용하면 된다!

In [ ]:
name = '김서빈'
age = 17
print('안녕하세요 난', name , '이고', age ,'살이야')

안녕하세요 난 김서빈 이고 17 살이야

In [ ]:
a = 5 
b = 3
print(a%b)

2

In [ ]:
a = 5
b = 3
print(a == b)

False

In [ ]:
a = 5 # 변수 활용 
b = 2
t = 2
b = 5
a = 2 
print(a , b)

2 5

In [ ]:
a = 5 
b = 10  
a = a+b-a 
b = a-b/2
print(a,b)

10 5.0

In [ ]:
str = 'hello world'
print(str[4])
print( len(str) )
list =[1,2,3,4,5]
print(len(list))

o
11
5

In [ ]:
# for 제한된 횟수 만큼 반복
# k = 반복하면서 사용할 변수
#rnage(범위) 0~범위-1 까지
for k in range(2,5): # 2부터 5-1 까지
#: 표시는 중괄호 시작이랑 같은 뜻
# 안에 들여쓰기를 했음.
  print(k)
  print('반복중')

2
반복중
3
반복중
4
반복중

In [ ]:
# 100개의 리스트 배열을 만들고 [0,2,4,6 ...] 순서로 값을 초기화
# 배열의 항목을 추가하는 명령어 append
for k in range(100):
  list.append(k*2)
print(list)
# 또 다른 방법 
# for k in range(0 , 200 , 2) = for k in range(i=0 i < 200 , i = i+2)
# list.append(k)
# print(list)
randi

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [ ]:
#입력하는 단의 구구단 출력
#예) 3입력=> 3*1=3 . . . . . 3*9 = 27
n = input('숫자를 입력하세요')
print(n*3) #input으로 받은 값은 문자로 처리됨 = "n의 문장을 3번 반복하라."
k = int(n) #int 타입 = 정수값으로 변경
print(k*3)
# ====>> n = int(input('숫자입력'))

숫자를 입력하세요3
333
9

In [ ]:
#입력하는 단의 구구단 만들기 / 받은 숫자를 가지고 구구단을 만들어라

n = int(input('숫자를 입력하세요')) # 내가 원하는 숫자 입력

#3 * 1 = 3
print(f'{n} * 1 = {n*1}') # {}는 안에 있는 변수의 값을 출력
print(f'{n} * 2 = {n*2}')
print(f'{n} * 3 = {n*3}')
print(f'{n} * 4 = {n*4}')
print(f'{n} * 5 = {n*5}')
print(f'{n} * 6 = {n*6}')
print(f'{n} * 7 = {n*7}')
print(f'{n} * 8 = {n*8}')
print(f'{n} * 9 = {n*9}')
for i in range(1, 10): #1~10 전까지 =1~9 # 콜론 : 붙이도록 하기 
  print(f'{n} * {i} = {n*i}')

숫자를 입력하세요3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24

In [ ]:
# 3 6 9 
# 1~ 입력수 n 까지 369게임 ( n = 2~9)
# 3,6,9 에는 대문자 X를 출력
#그리고 숫자마다 공백

# 0. 사용자 입력을 숫자로 받기
# 1. 1부터 입력수 까지 출력 ==> for 문 필요
# 2. 3,6,9 인지 판ㄷ나 하여 X로 변환
n = int(input('숫자 입력'))
for i in range(1 ,n+1):
  #1부터 n 까지 나옴
  #if 조건 : => 참인지 검사
  # 참이라면 수행할 내용
  #if k 가 3이랑 같은가
  if i == 3:
  #들여쓰기 조심
   print('X')
  else: #그 밖에 if와 같이 사용됨. if는 혼자 사용 가능하지만, else 는 혼자 사용 불가 
  #들여쓰기 조심 
  if i == 6:
   print('X')
  else:
  if i == 9:
     print('X')
  else:
      print(i)

IndentationError: ignored

In [ ]:
 # or 연산자 , and 연산자 => or 연산자
 n = int(input('숫자'))
 
for i in range(1, n+1):
  #만약 3으로 나누어 떨어지는가 == 나머지가 0인가
  # % = 나머지 연산자 => 10 % 3 = 1
  if i % 3 == 0: # 3,6,9
    print('X')
  else:
    print(i)

숫자9
1
2
X
4
5
X
7
8
X

In [ ]:
 n = int(input('숫자'))
 
for i in range(1, n+1):
  
  if i == 3 or i == 6 or i == 9:
    print('X' , end = ' ') # end = ' '가로로 출력
  else:
    print(i , end = ' ')

숫자9
1 2 X 4 5 X 7 8 X

In [ ]:
# if 문 복습 for 문과 연계
#if =  조건 검사 = 만약 조건이 참이면 수행할 내용 작성

a = 15
#a가 5보다 크다면 "큰수" 출력
if a > 5:
  print('큰수')
  print('입니다.')
     # 콜론 표시의 주의 -
#콜론 다음에는 현재보다 들여쓰기 (탭)


### 차이점 
if a > 5:
  print('큰수') 
print('입니다.') #들여쓰기 사용 안한 것 -> if 와 관계없이 그냥 출력 됨

if a > 5:
  print('큰수')
else: #else = '그 밖에' 참이 아닌 경우는 전부 이쪽으로 오게됨. 
  print('작은수')

입니다.

In [ ]:
#내가 생각한 숫자 맞추기 기회 10번동안 숫자를 맞춤
# 10번의 기회 => 10번동안 입력을 받아야겠음
#10번동안 => 10번 반복 => for 문 필요
#입력받은 infut() 필요
# 내가 입력한 숫자가 맞는지 검사(만약 일치하나???) => if문 필요
# 10번 반복할 동안 검사를 매번 수행 => for문 안에서 입력도 받고 , 검사도 하고
ans = 15 #정답
for i in range(10):
  num = int(input()) #입력 문자를 숫자로 변환
  # ans랑 num 이랑 같은가
  if ans == num:
    print('정답입니다!')
  else: 
    print('오답입니다!')

정답입니다!

In [ ]:
import random #랜덤 변수를 사용할때 import random 을 사용 후 실행 하기
ans = random.randint(1 , 100) #정답 
for i in range(10):
  num = int(input()) #입력 문자를 숫자로 변환
  # ans랑 num 이랑 같은가
  if ans == num:
    print('정답입니다!')
    #빠져나가기 => 파이썬에서 반복문 빠져나가기
    break # 반복 중단
  #else 아래에 if를 또 쓰자니 번거러움..
  elif ans > num:
    print('UP')
  else:
    print('DOWN')

19
UP
29
UP
60
UP
89
DOWN
78
DOWN
68
DOWN
64
DOWN
62
정답입니다!

In [ ]:
n = int(input()) #int 값 정수로 들어가서 

sum = 0   #0으로 변수 구하기 
for k in range(1, n+1):
    if k%2 == sum:
        sum = sum+k
print(sum)

30
2

수행평가 총 3번 
1,2 논술 = > 교과서 그 주 화요일-설명 -> 목요일 수행
3 수행 => 파이썬 (코드 출력, 작성)

2차 지필 기말 시험 2주 공부 후 시험

16 - 4주 = 12주 파이썬 공부

In [ ]:
#숫자를 입력받기 기능 => n 이라고 하자 
#1부터 n까지 반복 => for 
#반복하면서 나오는 숫자가 짝수 인지 검사 %2 ==== 0
#합 구하기 => 합을 보관하는 변수 sum을 만들자
#sum변수를 누적해서 저장하자
import random 
n = random.randint(1 , 100) 
sum = 0
for i in range(1 , n+1): 
  if i%2 == 0:
    sum = sum+i
print(sum)

2070

In [ ]:
# 위 코드와 성일 1078 문제 정답
n = int(input())
sum = 0 
for i in range(1 , n+1): #i가 1~n까지 값이 들어옴
    if i%2 == 0: 
    #sum에다 i를 누적 => 누적한다는 것은 현재sum에 i를 추가=>sum에 보관
      sum = sum+i
print(sum)

30
240

In [ ]:
n = int(input('number?'))
sum = 0 

for k in range(2, n+1 , 2):
  sum = sum+k 
print(sum)

number?30
240

In [ ]:
n = int(input())
sum = 0
for i in range(1, n+1):
  if i%2 == 0:
    sum = sum+i
print(sum)

30
240

In [ ]:
# 가위=1 바위=2 보=3 게임
me = int(input('나는 뭐 낼래? 가위1 바위2 보3'))
com = int(input('컴퓨터는 뭐 낼래? 가위1 바위2 보3'))
if me == com:
  print('비김')
#내가 이기는 경우
#나 1 - 3 컴
#나 2 - 1 컴
#나 3 - 2 컴

elif (me == 1 and com == 3) or (me == 2 and com == 1) or (me == 3 and com == 2): # (me-com) % 3 == 1:
  print('이기심')
else:
  print('지심')

나는 뭐 낼래? 가위1 바위2 보33
컴퓨터는 뭐 낼래? 가위1 바위2 보32
이기심

In [ ]:
# if문 1이 입력되면 0 , 0이 입력되면 1로 출력하는 프로그램 만들자
n= int(input('숫자를 입력하세요 (0~1)')) 
if n == 1:
  print(0) 
else:
  print(1)

숫자를 입력하세요 (0~1)1
0

In [21]:
#for 문과 배열을 섞어보자... 
#배열 = list 변수의 집합
#그럼 어떻게 안에 있는 자료를 접근할 수 있을끼?? => 주소
lt = [] #빈 리스트를 만들기
#리스트 관련된 명령어 알기
# lt. 점을 찍으면 사용할 수 있는 명령어가 나옴
lt.append(1)
lt.insert(1 , 5) # (번지, 추가할 값) . insert 2번째에 5를 넣어라 (리스트) 그러면 [1, 5, 10]이 출력됨 [1, 10]에서
lt.append(10)
lt.insert(0 , 20) # 1번째에 20을 넣어라 (0부터 시작) 
lt.remove(1) # 리스트에 있는 숫자 변수를 삭제하는 명령어 remove 주소 번지만 이용해서 삭제
# lt.index(2)  index 리스트에 있는 숫자 3번째에 있는 것을 출력한다.


print(lt)

[20, 5, 10]

In [ ]:
#[0 , 10 , 20 , 30 , 40 ... 1000] 인 배열 만들자.
lt = []
#for 변수 in 범위(리스트를 써도 되고 , range()이용 )
for i in range(0 , 1001 , 10):
  lt.append(i)
print(lt)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]

In [22]:
lt = []

for i in range(0, 901 , 9):
  lt.append(i)
print(lt)

str = "hello world" # 문자열도 리스트로 다룰 수 있음 
print(str[6])

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171, 180, 189, 198, 207, 216, 225, 234, 243, 252, 261, 270, 279, 288, 297, 306, 315, 324, 333, 342, 351, 360, 369, 378, 387, 396, 405, 414, 423, 432, 441, 450, 459, 468, 477, 486, 495, 504, 513, 522, 531, 540, 549, 558, 567, 576, 585, 594, 603, 612, 621, 630, 639, 648, 657, 666, 675, 684, 693, 702, 711, 720, 729, 738, 747, 756, 765, 774, 783, 792, 801, 810, 819, 828, 837, 846, 855, 864, 873, 882, 891, 900]
w

In [ ]:
#리스트에서 index를 쓰지 않고 해당 위치 변환

a = [1,2,3,4,4,4,7]  #크기고정
size = len(a)  #a 배열의 길이  ,  a.length 아님(자바에서 이렇게)... 
find = 5

#for문을 이용  => a의 크기 만큼 반복검사
for k in range(size):
  #a[k]야 find를 같음?
  if a[k] == find:
    print(k)
    break



#a에서 쓸수 있는 기능
#pos = a.index(4)  #4의 위치는?
#print(pos)


###결과###
# 4입력 =>   3(번지)출력    

str = 'hello world' #문자열도 리스트로 다룰 수 있음
print(str[6])
print(str.index('w'))
#문자열에서는 find 명령어도 사용할 수 있음
print(str.find('w'))
#find는 찾지 못하면 오류대신 -1을 출력
print(str.find('T'))

1
3

In [ ]:
#마지막부터 값 찾기
#hint  range의 활용

a = [0,1,2,3,4,5,6,7,8,9]
size = len(a)
find = int(input())
#range(5) 0~4까지
#range(1,5) 1~4까지
#range(1,10, 2)  1~9까지 2씩 증가
#10부터 1까지 1씩 감소 =>  range(11, 0, -1)
# for k in range(size-1, -1 , -1):
#   if a[k] == find:
#     print(k)
#     break


for k in range(size):
  #0 번지 => 9만들기
  pos = size - 1 - k  #k=0일때 10-1-k=>9-0 = 9번지 찾기
  if a[pos] == find:
    print(pos)
    break

In [ ]:
#n = [1,3,5,76,8,3,1,2,3,54]
n = ['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july']

#range(10) =  [0,1,2,3,4,5,6,7,8,9]
for k  in n:  #in 다음에는  range만 가능한게 아님. 범위를 가지고 있는것
  print(k)

In [ ]:
#반복문

# 조건이 참인 동안 반복
k = 0
while k < 5:
  print(k)
  k = k+1

print('byebye')
print(k)

In [ ]:
#패스워드를 검사하자. 비번이 맞을 때 까지 반복


pw = '1234'  #문자 1234
my = input('패스워드를 입력하세요')

#비번이 틀렸을 때 반복   pw  my 같지 않을때
while pw != my:  #!는 부정의 의미
  my = input('패스워드를 입력하세요')

print('welcome')

In [ ]:
pw = '1234'

#무조건 반복하다가 조건이 맞으면 탈출(break)
#파이썬에는 do-while문이 없음...
#True는 참을 뜻함  False은 거짓 => 대소문자 주의
while True  :
  my = input('비번입력')
  if my == pw:
    break

In [ ]:
# 문제 1134번

target = input("찾을 글자를 입력하세요") #KTX
src = input("문자열을 입력하세요") #KINTEX
t_pos = 0
for s in src:
  #KINTEX의 K == KTX[0]인 K 같은지 비교 
  if s == target[t_pos]:
    #만약 글자를 찾으면 target의 다음 글자 
    t_pos = t_pos + 1
    
    if len(target) == t_pos:
      print('Y')
      break
    else:
      print('N')
    
print('끝')

찾을 글자를 입력하세요KTX
문자열을 입력하세요XTWDWK
N
끝

 여태까지 배웠던 파이썬 개념 정리 
값을 보관하기 
- 변수를 사용
  a = 1 <= 오른쪽에서 왼쪽으로 복사
 - 저장되는 것에 종류가 있을까? = 자료형(숫자,문자, 참/거짓) , 자료의 형태를 지정하지 않음
-만약 ,24명의 학생을 보관하려고 함, 변수가 몇개 필요하지? => 24개 필요 => 너무 많음 => 한번에 관리할 수 없을까?
   -리스트 : 변수들의 집합, 모임 (리스트(배열)) , 튜플, 딕셔너리, 집합)
  -사용법 : 주소가 있음(0번지부터 시작)
 -a[0] = 1 a리스트의 0번지에 1을 저장 
- 번지에 꼭 숫자가 들어가야 할까? => 아니다. => 변수가 들어갈 수 있음(숫자인 변수)
- arr = 1 , it[arr] = 1 It 리스트의 1번지에 1이 들어감 lt[1]
- 리스트의 크기는 변함. 항목을 추가할 수도 있고, 뺄 수도 있음 
기능을 사용하기
  - 파이썬에서 만든 기능을 사용
  - 명령어() 의 형태
  - print() , append() , len() , input() , int() // print , print() 는 다른말 
  - 기능을 만들어서 사용할 수 있음. def: 
문법 
 - 반복문 : 같은 작업을 여러번 반복시키는 명령
    - for : 일정 범위 만큼 반복
            -예) 10번 반복해 X => 0~9만큼 반복해
            for 사용할 변수 in range(10) # 사용할 변수에 0~9까지 적용
            - range() 의 활용 ( 끝 수가 그 전까지 반복함 ) 
            - range(10) : 0~9 , range (5,10) : 5~9 , range(3,10,2) : 3~9 , 2씩 증가
            - range(10 , -1 , -1) 
            - 들여쓰기 조심!! 
    - while : 조건이 참일 동안 계속 반복

In [12]:
for i in range(10 , 0-1 , -1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [17]:
#리스트와 for를 사용해보자.
#리스트를 만드는데 [0,1,2,3,4] 가 보관된 리스트 만들기
lt = [] # 아무것도 없는 리스트 .append 를 이용해 추가 
size = int(input("크기를 입력하세요"))
for i in range(0 , size+1):
  # 들여쓰기 조심 
  lt.append(i)
print(lt)

크기를 입력하세요199
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]